{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
    <div>
        <div>
            <h1>SAML Sample App</h1>
            <p>You are logged in as user <strong>{{ user.username }}</strong></p>
            <p>SAML Attributes:</p>
            <ul>
                {% for attr in saml_attrs %}
                <li>{{ attr.key }}: {{ attr.value }}</li>
                {% endfor %}
            </ul>
            <button class="hack">Hack the Planet (Admins only!)</button><br>
            <form method="post" action="{% url 'django_saml:logout' %}">
                {% csrf_token %}
                <button class="logout">Log Out</button>
            </form>
        </div>
    </div>
</body>
